<h1>Site</h1>
<% if user_signed_in?%>
  <p>Usuário do email: <%=current_user.email%> ESTÁ logado</p> 
<%else%>
  <p>Usuário NÃO está logado
<% end %>

<% if admin_signed_in?%>
  <p>Administrador do email: <%=current_admin.email%> ESTÁ logado</p>
<%else%>
  <p>Administrador NÃO está logado
<% end %>
